<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css} " />
    <link th:rel="stylesheet" th:href="@{style.css}" />
    <title>MortgagePlan</title>
</head>
<body>
<div class="container">
    <div class="col-md-6">
        <h1 class="text-head">Add a new customer</h1>

        <form action="#" th:action="@{/add}" th:object="${customers}" method="POST">
            <div class="form-group">
                <label for="name">Customer Name</label><input class="form-control" type="text" th:field="*{name}" id="name" placeholder="Name" required>
                <label for="loan"></label>Total Loan Amount<input class="form-control" type="text" th:field="*{loan}" id="loan" placeholder="Loan Amount..." required>
                <label for="interestRate">Interest Rate</label><input class="form-control" type="text" th:field="*{interestRate}" id="interestRate" placeholder="Interest Rate..." required>
                <label for="numberOfYears">Duration Of Loan</label><input class="form-control" type="text" th:field="*{numberOfYears}" id="numberOfYears" placeholder="Loan duration (years)" required>
            </div>
            <br>
            <button type="submit" class="button button_add">New customer</button>

        </form>
        <div class="alert alert-primary" role="alert">
            <h4 class="alert-heading">Something went wrong!</h4>
            <ul>
                <li>
                    Loan amount needs to be more than 0
                </li>
                <li>
                    Interest rate can not be negative
                </li>
                <li>
                    And the length of the loan has to be one year or more.
                </li>

            </ul>

            <hr>
            <p class="mb-0">Please try again</p>
        </div>
    </div>
</div>



</body>
</html>