<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css} " />
    <link th:rel="stylesheet" th:href="@{style.css}" />
    <title>MortgagePlan</title>
</head>
<body>
<div class="container">
    <div class="col-md-8">
    <h1 class="text-center">Mortgage Plan</h1>
    <hr/>
    <table class="table table-bordered" >
        <thead>
            <tr class="text-center">
                <th>Customer</th>
                <th>Loan</th>
                <th>Interest Rate</th>
                <th>Time(Years)</th>
                <th>Monthly Payment</th>
                <th>Remove Customer</th>
            </tr>
        </thead>
        <tbody>
            <!-- th:each == thymeleaf method for iterating through all customers  -->
            <tr class="text-center" th:each="customer: ${customerEntries}">

                <td th:text="${customer.name}"></td>
                <td th:text="${customer.loan}"></td>
                <td th:text="${customer.interestRate}"></td>
                <td th:text="${customer.numberOfYears}"></td>
                <td th:text="${#numbers.formatDecimal(customer.monthlyPayment,2,2) }"></td>
                <td class="text-center" ><a class="btn btn-warning" th:href="@{/remove/{id}(id=${customer.id})}">X</a></td>

            </tr>
        </tbody>
    </table>
        <div class="blue_box"> this should be blue</div>
    </div>


        <!-- Button for adding a new customer to db and list -->
<a class="btn btn-success" href="add-customer">Add New Customer</a>

</div>




<script th:src="@{/webjars/jquery/3.6.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
</body>
</html>